.pokecard_type--normal{
    background: linear-gradient(90deg, rgba(119,119,119,1) 0%, rgba(207,206,199,1) 100%);
}

.pokecard_type--fighting {
  background: linear-gradient(90deg, rgb(11, 11, 11) 0%, rgb(255, 29, 29) 100%);
}

.pokecard_type--flying {
  background: linear-gradient(90deg, rgba(207,219,250,1) 0%, rgba(34,88,247,1) 100%);
}

.pokecard_type--poison {
  background: linear-gradient(90deg, rgb(45, 166, 63) 0%, rgb(137, 17, 139) 100%);

}

.pokecard_type--ground {
  background: linear-gradient(90deg, rgba(246,199,185,1) 0%, rgba(138,62,0,1) 100%);

}

.pokecard_type--rock {
  background: linear-gradient(90deg, rgb(126, 113, 109) 0%, rgb(38, 18, 0) 100%);

}

.pokecard_type--bug {
  background: linear-gradient(90deg, rgb(208, 244, 47) 0%, rgb(105, 175, 30) 100%);

}

.pokecard_type--ghost {
  background: linear-gradient(90deg, rgba(215,215,215,1) 0%, rgba(188,195,251,1) 100%);

}

.pokecard_type--steel {
  background: linear-gradient(90deg, rgb(108, 96, 96) 0%, rgb(54, 59, 96) 100%);
}

.pokecard_type--fire {
  background: linear-gradient(90deg, rgb(248, 221, 99) 0%, rgb(255, 90, 35) 100%);
}

.pokecard_type--water {
  background: linear-gradient(90deg, rgb(156, 244, 246) 0%, rgb(89, 168, 236) 100%);
}

.pokecard_type--grass {
  background: linear-gradient(90deg, rgb(195, 253, 201) 0%, rgb(93, 255, 109) 100%);
}

.pokecard_type--electric {
  background: linear-gradient(90deg, rgb(115, 123, 234) 0%, rgb(38, 45, 100) 100%);
}

.pokecard_type--psychic {
  background: linear-gradient(90deg, rgb(251, 225, 225) 0%, rgb(114, 124, 200) 100%);
}

.pokecard_type--ice {
  background: linear-gradient(90deg, rgb(241, 254, 253) 0%, rgb(178, 219, 246) 100%);
}

.pokecard_type--dragon {
  background: linear-gradient(90deg, rgb(156, 250, 241) 0%, rgb(0, 10, 87) 100%);
}

.pokecard_type--dark {
  background: linear-gradient(90deg, rgb(63, 58, 82) 0%, rgb(34, 14, 13) 100%);
}

.pokecard_type--fairy {
  background: linear-gradient(90deg, rgb(216, 208, 252) 0%, #ee83d0 100%);
}

.back{
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%);

}